@font-face {
  font-family: 'db_heaventregular';
  src: url('../fonts/db_heavent_bd_it_v3.2-webfont.eot');
  src: url('../fonts/db_heavent_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_heavent_v3.2-webfont.woff2') format('woff2'), url('../fonts/db_heavent_v3.2-webfont.woff') format('woff'), url('../fonts/db_heavent_v3.2-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'db_heaventbold';
  src: url('../fonts/db_heavent_bd_it_v3.2-webfont.eot');
  src: url('../fonts/db_heavent_v3.2-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/db_heavent_v3.2-webfont.woff2') format('woff2'), url('../fonts/db_heavent_v3.2-webfont.woff') format('woff'), url('../fonts/db_heavent_v3.2-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'THSarabunPSK';
  src: url('../fonts/THSarabunPSK.eot?#iefix') format('embedded-opentype'), url('../fonts/THSarabunPSK.woff') format('woff'), url('../fonts/THSarabunPSK.ttf') format('truetype'), url('../fonts/THSarabunPSK.svg#THSarabunPSK') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'THSarabunPSK-Bold';
  src: url('../fonts/THSarabunPSK-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/THSarabunPSK-Bold.woff') format('woff'), url('../fonts/THSarabunPSK-Bold.ttf') format('truetype'), url('../fonts/THSarabunPSK-Bold.svg#THSarabunPSK-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.br_default {
  display: block;
}
@media (min-width: 480px) {
  .br_default {
    display: inline-block;
  }
}
@media (orientation: landscape) {
  .br_default {
    display: inline-block;
  }
}
.br_xs {
  display: inline-block;
}
@media (min-width: 480px) {
  .br_xs {
    display: block;
  }
}
@media (min-width: 480px) and (orientation: landscape) {
  .br_xs {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .br_xs {
    display: inline-block;
  }
}
@media (min-width: 480px) {
  .br_sm {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .br_sm {
    display: block;
  }
}
@media (min-width: 992px) {
  .br_sm {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .br_md {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .br_md {
    display: block;
  }
}
@media (min-width: 992px) and (orientation: landscape) {
  .br_md {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .br_md {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .br_lg {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .br_lg {
    display: block;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #61635e;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#wrapper {
  width: 100%;
  height: 100%;
}
#wrapper .start {
  padding-top: 10px;
}
#wrapper .end {
  padding-top: 4.375%;
}
@media (orientation: landscape) {
  #wrapper .end {
    padding-top: 1.875%;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #wrapper .end {
    padding-top: 5.625%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #wrapper .end {
    padding-top: 2.5%;
  }
}
#wrapper .king_cover {
  display: table;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding-top: 5.83333333%;
  z-index: 5;
}
@media (orientation: landscape) {
  #wrapper .king_cover {
    padding-top: 2.5%;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #wrapper .king_cover {
    padding-top: 7.5%;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #wrapper .king_cover {
    padding-top: 3.33333333%;
  }
}
#wrapper .king_cover img {
  position: relative;
  z-index: 5;
}
#wrapper .king_cover:after {
  content: '';
  width: 372px;
  height: 431px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -186px;
  margin-top: -107.75px;
  background-image: url('../images/glitter.png');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
@media (min-width: 768px) {
  #wrapper .king_cover:after {
    width: 496px;
    height: 574.66666667px;
    margin-left: -248px;
    margin-top: -143.66666667px;
  }
}
@media (min-width: 992px) {
  #wrapper .king_cover:after {
    width: 413.33333333px;
    height: 478.88888889px;
    margin-left: -206.66666667px;
    margin-top: -119.72222222px;
  }
}
@media (min-width: 1200px) {
  #wrapper .king_cover:after {
    width: 744px;
    height: 862px;
    margin-left: -372px;
    margin-top: -215.5px;
  }
}
#wrapper .line {
  display: table;
  margin: 0 auto;
}
#wrapper .line .x1 {
  display: block;
  margin-top: 5px;
}
@media (min-width: 768px) {
  #wrapper .line .x1 {
    display: none;
  }
}
#wrapper .line .x2 {
  display: none;
  margin-top: 5px;
}
@media (min-width: 768px) {
  #wrapper .line .x2 {
    display: block;
  }
}
#wrapper .heading {
  color: #ffffff;
  font-family: 'THSarabunPSK-Bold';
  font-weight: normal;
  font-size: 32px;
  line-height: 28px;
  display: table;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 480px) {
  #wrapper .heading {
    font-size: 32px;
    line-height: 28px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #wrapper .heading {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #wrapper .heading {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (min-width: 992px) {
  #wrapper .heading {
    font-size: 46px;
    line-height: 46px;
  }
}
@media (min-width: 1200px) {
  #wrapper .heading {
    font-size: 46px;
    line-height: 46px;
  }
}
#wrapper .heading.en {
  font-size: 22px;
  line-height: 20px;
}
@media (min-width: 480px) {
  #wrapper .heading.en {
    font-size: 22px;
    line-height: 20px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #wrapper .heading.en {
    font-size: 32px;
    line-height: 30px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #wrapper .heading.en {
    font-size: 32px;
    line-height: 30px;
  }
}
@media (min-width: 992px) {
  #wrapper .heading.en {
    font-size: 36px;
    line-height: 34px;
  }
}
@media (min-width: 1200px) {
  #wrapper .heading.en {
    font-size: 36px;
    line-height: 34px;
  }
}
#wrapper .text {
  color: #ffffff;
  font-family: 'THSarabunPSK';
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  display: table;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.3em;
}
@media (min-width: 480px) {
  #wrapper .text {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: 768px) {
  #wrapper .text {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (min-width: 992px) {
  #wrapper .text {
    font-size: 28px;
    line-height: 28px;
  }
}
@media (min-width: 1200px) {
  #wrapper .text {
    font-size: 28px;
    line-height: 28px;
  }
}
#wrapper .text.en {
  font-size: 20px;
  line-height: 18px;
}
@media (min-width: 480px) {
  #wrapper .text.en {
    font-size: 20px;
    line-height: 18px;
  }
}
@media (min-width: 768px) and (orientation: portrait) {
  #wrapper .text.en {
    font-size: 24px;
    line-height: 22px;
  }
}
@media (min-width: 768px) and (orientation: landscape) {
  #wrapper .text.en {
    font-size: 24px;
    line-height: 22px;
  }
}
@media (min-width: 992px) {
  #wrapper .text.en {
    font-size: 28px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  #wrapper .text.en {
    font-size: 28px;
    line-height: 26px;
  }
}
#wrapper .btns {
  margin: 0 auto;
  display: table;
  padding-top: 1.5em;
}
@media (min-width: 768px) {
  #wrapper .btns {
    padding-top: 3em;
  }
}
#wrapper .btns a {
  color: #ffffff;
  font-family: 'db_heaventregular';
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid #ffffff;
  display: block;
  text-align: center;
  transition: All 0.2s ease-in-out;
  -webkit-transition: All 0.2s ease-in-out;
  -moz-transition: All 0.2s ease-in-out;
  -ms-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
}
#wrapper .btns a:first-child {
  margin-bottom: 10px;
}
#wrapper .btns a:hover {
  background-color: #ffffff;
  color: #000000;
}
@media (orientation: landscape) {
  #wrapper .btns a {
    display: inline-block;
  }
  #wrapper .btns a:first-child {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
@media (min-width: 480px) {
  #wrapper .btns a {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #wrapper .btns a {
    font-size: 20px;
    display: inline-block;
  }
  #wrapper .btns a:first-child {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
@media (min-width: 992px) {
  #wrapper .btns a {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  #wrapper .btns a {
    font-size: 24px;
  }
}
#wrapper .btn {
  margin: 0 auto;
  display: table;
  padding-top: 1.5em;
  padding-bottom: 2em;
}
@media (min-width: 768px) {
  #wrapper .btn {
    padding-top: 2em;
    padding-bottom: 3em;
  }
}
#wrapper .btn a {
  color: #ffffff;
  font-family: 'db_heaventregular';
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;
  text-decoration: none;
  padding: 4px 20px;
  display: block;
  text-align: center;
  background-color: #525450;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: All 0.2s ease-in-out;
  -webkit-transition: All 0.2s ease-in-out;
  -moz-transition: All 0.2s ease-in-out;
  -ms-transition: All 0.2s ease-in-out;
  -o-transition: All 0.2s ease-in-out;
}
#wrapper .btn a:before {
  content: '';
  background-image: url('../images/border.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 70%;
  height: 1px;
  top: 0;
  left: 50%;
  margin-left: -35%;
}
#wrapper .btn a:after {
  content: '';
  background-image: url('../images/border.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  width: 70%;
  height: 1px;
  bottom: 0;
  left: 50%;
  margin-left: -35%;
}
#wrapper .btn a:first-child {
  margin-bottom: 10px;
}
#wrapper .btn a:hover {
  background-color: #ffffff;
  color: #000000;
}
#wrapper .btn a:hover:after,
#wrapper .btn a:hover:before {
  background-image: url('../images/border_invert.png');
}
@media (orientation: landscape) {
  #wrapper .btn a {
    display: inline-block;
  }
  #wrapper .btn a:first-child {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
@media (min-width: 480px) {
  #wrapper .btn a {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  #wrapper .btn a {
    padding: 8px 30px;
    font-size: 20px;
    display: inline-block;
  }
  #wrapper .btn a:first-child {
    margin-bottom: 0px;
    margin-right: 15px;
  }
}
@media (min-width: 992px) {
  #wrapper .btn a {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  #wrapper .btn a {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */