/*----------------------------------------
	CSS @font-face
----------------------------------------*/
@font-face {
    font-family: 'db_heaventregular';
    src: url('../fonts/db_heavent_v3.2-webfont.eot');
    src: url('../fonts/db_heavent_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_heavent_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_heavent_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_heavent_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_heaventmed';
    src: url('../fonts/db_heavent_med_v3.2-webfont.eot');
    src: url('../fonts/db_heavent_med_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_heavent_med_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_heavent_med_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_heavent_med_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'db_heaventmed_it';
    src: url('../fonts/db_heavent_med_it_v3.2-webfont.eot');
    src: url('../fonts/db_heavent_med_it_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_heavent_med_it_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_heavent_med_it_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_heavent_med_it_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_heaventbold';
    src: url('../fonts/db_heavent_bd_v3.2-webfont.eot');
    src: url('../fonts/db_heavent_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_heavent_bd_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_heavent_bd_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_heavent_bd_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'db_heaventbold_it';
    src: url('../fonts/db_heavent_bd_it_v3.2-webfont.eot');
    src: url('../fonts/db_heavent_bd_it_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/db_heavent_bd_it_v3.2-webfont.woff2') format('woff2'),
         url('../fonts/db_heavent_bd_it_v3.2-webfont.woff') format('woff'),
         url('../fonts/db_heavent_bd_it_v3.2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
