/*----------------------------------------
	CSS @font-face
----------------------------------------*/
@font-face {
    font-family: 'thaisans_neueregular';
    src: url('../fonts/thaisansneue-regular-webfont.eot');
    src: url('../fonts/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-regular-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-regular-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thaisans_neuebold';
    src: url('../fonts/thaisansneue-bold-webfont.eot');
    src: url('../fonts/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-bold-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-bold-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thaisans_neuebold_italic';
    src: url('../fonts/thaisansneue-bolditalic-webfont.eot');
    src: url('../fonts/thaisansneue-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-bolditalic-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thaisans_neueextra_bold';
    src: url('../fonts/thaisansneue-extrabold-webfont.eot');
    src: url('../fonts/thaisansneue-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-extrabold-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-extrabold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'thaisans_neueXBdIt';
    src: url('../fonts/thaisansneue-extrabolditali-webfont.eot');
    src: url('../fonts/thaisansneue-extrabolditali-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/thaisansneue-extrabolditali-webfont.woff2') format('woff2'),
         url('../fonts/thaisansneue-extrabolditali-webfont.woff') format('woff'),
         url('../fonts/thaisansneue-extrabolditali-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


