.container {
	position: relative
}
.background-video {
	background-position: top center;
	background-repeat: no-repeat;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
}
video,
source {
	bottom: 0;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: absolute;
}
.loaded .ytplayer-container {
	display: block;
}
.loaded .placeholder-image {
	opacity: 0;
}

.ytplayer-container {
	bottom: 0;
	height: 100%;
	left: 0;
	min-width: 100%;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
.placeholder-image {
	height: 100%;
	left: 0;
	min-height: 100%;
	min-width: 100%;
	position: fixed;
	top: 0;
	z-index: 1;
	opacity: 1;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}
.ytplayer-shield {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}
.ytplayer-player {
	position: absolute;
}

.logo-purra {
	top: 0;
	left: 30px;	
	z-index: 100;
	position: absolute;
}
.enter {
	width: 268px;
	height: 75px;
	bottom: 30px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	position: absolute;
	background: url(../images/icons/btn_skip.png) no-repeat center center;
	z-index: 100;
}
.enter:hover {
	background-image: url(../images/icons/btn_skip_rollover.png);
}