/*----------------------------------------
	HTML ELEMENTS
----------------------------------------*/
	@import url(fonts.css);

	body {
		min-width: 640px;
		padding: 0;
		margin: 0;
		font-family: 'db_heaventregular', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 22px;
		color: #033333;
		background: #fff url(../images/bg.jpg) no-repeat top center;
	}
	a, a:link, a:visited, a:hover, a:active, a:focus, div {
	   outline: 0;
	}
	img, a img {
		outline: 0px none;
	    border: 0px none;
	}
	.img-block {
	    display: block;
		margin-left: auto;
		margin-right: auto;
	}


/*----------------------------------------
	Typography
----------------------------------------*/
	h1, h2, h3, h4, h5, h6, b {
		margin: 0;
		padding: 0;
		font-family: 'db_heaventregular', sans-serif;
		font-style: normal;
		font-weight: normal;
	}
	h1 {
		font-family: 'db_heaventmed', sans-serif;
		font-size: 68px;
		line-height: 50px;
		color: #439de6;	
		text-transform: uppercase;
		text-align: center;
	}
	h3 {
		font-family: 'db_heaventmed', sans-serif;
		font-size: 58px;
		line-height: 58px;
		color: #1688dc;	
	}
	h4 {
		margin-bottom: 5px;
		font-size: 30px;
		line-height: 30px;
		color: #fff;	
	}
	p {
		font-size: 20px;
		line-height: 20px;
		color: #033333;
	}
	b {
		font-family: 'db_heaventbold', sans-serif;
	}


/*----------------------------------------
	Buttons
----------------------------------------*/
	.btn {
		height: 50px;
		padding: 8px 12px;
		font-family: 'db_heaventmed', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 22px;
		-webkit-border-radius: 0;	
		-moz-border-radius: 0;	
		border-radius: 0;	
	}
	.btn.btn-primary,
	.btn.btn-primary.focus,
	.btn.btn-primary:focus {
		color: #fff;
		border: 3px solid #2d67b5;
		background-color: #2d67b5; 
		-webkit-transition: all 0.5s ease;
		   -moz-transition: all 0.5s ease;
			 -o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
				transition: all 0.5s ease;
	}
	.btn.btn-primary:hover,
	.btn.btn-primary.active,
	.btn.btn-primary:active {
		color: #2d67b5;
		background: none; 
	}


/*----------------------------------------
	Forms
----------------------------------------*/
	label {
		font-family: 'db_heaventregular', sans-serif;
		font-size: 20px;
		line-height: 22px;
	}
	label.error {
		font-style: normal;
		font-weight: normal;
	    color: #fff;
	    margin-top: -1px;
	    padding: 4px 10px;
	    position: absolute;
	    background-color: #000;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	    border-radius: 5px;
		z-index: 100;
		-webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
		   -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
		        box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
	}
	label.error:before {
	    content:"";
	    position: absolute;
	    display: block;
	    top: -8px;
	    width: 0;
	    height: 0;
	    border-left: 7px solid transparent;
	    border-right: 7px solid transparent;
	    border-bottom: 8px solid #000;
	}
	.form-group {
	    margin-bottom: 10px;
	}
	.form-control {
		padding: 6px 12px;
		height: 36px;
		margin-bottom: 10px;
		font-family: 'db_heaventregular', sans-serif;
		font-size: 20px;
		line-height: 22px;
		color: #033333;
		border-color: #b6b6b6;
		-webkit-border-radius: 0;	
		-moz-border-radius: 0;	
		border-radius: 0;
		background: #fff;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}
	.form-control:focus {
		border-color: #2d67b5;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}
	.form-control::-moz-placeholder {
		color:#999;
	}
	.form-control:-ms-input-placeholder {
		color:#999;
	}
	.form-control::-webkit-input-placeholder {
		color:#999;
	}

	.dropdown-menu {
		border: 1px solid #b6b6b6;
	}
	.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
		margin-top: 5px;
		margin-bottom: 0;
	    width: 100%;
	}
	.bootstrap-select.btn-group .dropdown-menu li a {
		padding: 5px 10px;
		font-family: 'db_heaventregular', sans-serif;
		font-size: 20px;
		line-height: 22px;
		color: #033333;
	}
	.btn.dropdown-toggle,
	.open > .dropdown-toggle.btn-default,
	.open > .dropdown-toggle.btn-default:focus,
	.open > .dropdown-toggle.btn-default:hover {
		height: 40px;
		border: 1px solid #b6b6b6;
		font-family: 'db_heaventregular', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 22px;
		-webkit-border-radius: 0;	
		-moz-border-radius: 0;	
		border-radius: 0;	
		background: #fff;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}

	.form-search {
		width: 400px;
		right: 0;
		top: 90px;
		padding: 10px 20px;
		display: none;
		position: absolute;
		background-color: #0267ba;
		z-index: 8889;
	}
	.form-search .form-control {
		height: 34px;
		margin-bottom: 0;
		border-color: #fff;
		background:#fff url(../images/icons/icon_find_search.png) no-repeat center right;
	}


/*----------------------------------------
	HEADER & NAV
----------------------------------------*/
	header .navbar-brand > img {
		width: auto;
		height: 90px;
	}
	header {
	    width: 100%;
		min-width: 640px;
	    padding: 0;
	    margin: 0;
	    top: 0;
	    position: relative;
	    display: block;
	}
	header .container,
	.navbar-default .navbar-collapse {
		position: relative;
	}
	header, .navbar {
	    height: 90px;
	}
	.navbar.navbar-default {
		background: #fff url(../images/bg_nav.png) repeat-x left bottom;
		border: 0 !important;
	}
	.navbar > .container .navbar-brand {
		left: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		z-index: 200;
	}
	.navbar-default .navbar-nav > li > a {
		margin: 15px 15px;
		padding: 2px 0;
		font-family: "db_heaventbold",sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 22px;
		line-height: 22px;
		color: #fff;
		text-transform: uppercase;
	}
	.navbar-header .navbar-nav {
		margin-top: 0;
		right: 0;
		height: 35px;
		position: absolute;
		z-index: 100;
	}
	.navbar-header .navbar-nav > li {
		margin: 0;
		padding: 0 15px;
		border-right: 1px solid #cdcdcd;
	}
	.navbar-header .navbar-nav > li:last-child {
		border-right: 0;
	}
	.navbar-header .navbar-nav > li > a {
		left: 0;
		margin: 0;
		padding: 6px 0;
		height: 35px;
		font-family: "db_heaventmed",sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 22px;
		color: #666;
	}
	.navbar-header .navbar-nav > li > a:focus, 
	.navbar-header .navbar-nav > li > a:hover {
		color: #248de3;
	}
	.navbar-header .navbar-nav > li i.logo_singha_small {
		float: left;
		width: 40px;
		height: 25px;
		display: inline-block;
		background: url(../images/logo_singha_small.png) no-repeat top center;	
	}
	.navbar-header .navbar-nav > li.icons:first-child {
		width: 80px;
	}
	.navbar-header .navbar-nav > li.icons {
		height: 35px;
		padding-right: 8px;
		padding-left: 8px;
	}
	.navbar-header .navbar-nav > li.icons > a {
		font-size: 19px;
		display: inline-block;
		margin: 0 5px;
		cursor: pointer;
	}
	.navbar-header .navbar-nav > li.icons > a i.icon-search {
		width: 20px;
		height: 20px;
		display: inline-block;
		background: url(../images/icons/icon_search_black.png) no-repeat center center;
	}
	.navbar-header .navbar-nav > li.icons > a i.icon-search.active {
		background: url(../images/icons/icon_close_black.png) no-repeat center center / 20px;
	}
	.navbar-nav .dropdown-menu > li > a {
		padding: 0;
		font-family: "db_heaventmed",sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 22px;
		color: #666;
		text-align: center;
		background: #fff;
	}
	.navbar-default .navbar-nav .language {
		width: 50px;
		padding: 0;
	}
	.navbar-default .navbar-nav .language .btn.dropdown-toggle,
	.navbar-default .navbar-nav .language .btn.dropdown-toggle:focus,
	.navbar-default .navbar-nav .language .btn.dropdown-toggle:hover,
	.navbar-default .navbar-nav .language .btn.dropdown-toggle:active {
		font-family: "db_heaventmed",sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 17px;
		line-height: 22px;
		color: #248de3;
		height: 35px;
		padding-top: 6px;
		padding-bottom: 6px;
		border: 0;
		background: #fff;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}
	.navbar-default .navbar-nav .language ul.dropdown-menu {
		min-width: 1px;
		width: 50px;
		border: 0;
		background: #fff;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
				z-index: 8889;
	}
	.navbar-default .navbar-nav .language ul.dropdown-menu > li > a {
		padding: 5px 14px;
		text-align: left;
	}


/*----------------------------------------
	FOOTER
----------------------------------------*/
	footer {
		float: left;
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    position: relative;
	    display: block;
		background: #0066b9;
	}
	footer .container {
		min-height: 1px;
		height: auto;
	}
	footer > div {
		width: 100%;
		margin: 0 auto;
	}
	footer .footer-top {
		height: 60px;
		padding-top: 15px;
		padding-bottom: 15px;
		background-color: #0066b9;
	}
	footer .footer-site {
		min-height: 270px;
		background-color: #248ce3;
	}
	footer .footer-copyright {
		height: 35px;
		background-color: #0066b9;
	}

	/* footer .footer-top */
	footer .newsleter {
		text-align: left;	
	}
	footer .follow {
		padding-top: 2px;
		text-align: right;	
	}
	footer label,
	footer .footer-top .form-group,
	footer .form-control,
	footer .btn.btn-default {
		float: left;
	}
	footer label {
		margin: 3px 30px 3px 0;
		color: #fff;	
	}
	footer .form-control {
		width: 150px;
		color: #0066b9;	
		margin: 0 10px 0 0;
		background: #fff;
		-webkit-border-radius: 4px 0 0 4px;	
		-moz-border-radius: 4px 0 0 4px;		
		border-radius: 4px 0 0 4px;	
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
				box-shadow: none;
	}
	footer .form-control,
	footer .btn.btn-default {
		height: 30px;
		padding: 2px 12px;
		margin: 0;
		border: 0;
		font-size: 16px;
		line-height: 20px;
		color: #333;	
		text-transform: uppercase;
	}
	footer .btn.btn-default {
		width: 80px;
		color: #0066b9;	
		background-color: #fff;
		-webkit-border-radius: 0 4px 4px 0;	
		-moz-border-radius: 0 4px 4px 0;		
		border-radius: 0 4px 4px 0;	
	}
	footer .btn.btn-default:before {
		content: "";
		width: 1px;
		height: 24px;
		background: #eee;
		position: absolute;
		margin-left: -20px;
	}
	footer .btn.btn-default:hover {
		color: #fff;
		background: #248ce3;
	}
	footer .footer-top p {
		font-family: 'db_heaventbold', sans-serif;
		font-style: normal;
		font-weight: normal;
		color: #fff;
		margin: 0 10px 0 0;
		display: inline-block;
		text-transform: uppercase;
	}
	footer .footer-top i {
		color: #fff;
		margin-left: 5px;
		margin-right: 5px;
	}
	footer .footer-top .form-group {
		width: auto;
		margin-bottom: 0;
		display: inline-block;	
	}

	/* footer .footer-site */
	footer .footer-site.mobile {
		display: none;	
	}
	footer .footer-site .container {
		padding-top: 20px;	
		padding-bottom: 20px;	
	}

	footer .footer-site .nav-desktop {
		float: left;
	}
	footer .footer-site ul {
		float: left;
		list-style: none;
		width: auto;
		padding: 0;
		margin-right: 65px;
	}
	footer .footer-site ul:last-child {
		margin-right: 0;
	}
	footer .footer-site ul > li {
		margin: 0;
		padding: 0;	
		line-height: 18px;
	}
	footer .footer-site ul > li:first-child {
		margin-bottom: 10px;
	}
	footer .footer-site ul > li > a {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 20px;
		color: #fff;
		text-transform: uppercase;
	}
	footer .footer-site ul > li > a b {
		font-family: "db_heaventbold",sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 20px;
		padding-bottom: 5px;
		background: url(../images/icons/underline_nav.png) no-repeat bottom left / auto 3px;
	}
	footer .footer-site ul > li:first-child a:hover {
		text-decoration: none;
	}
	footer .footer-site .address {
		float: right;
		text-align: right;	
		max-width: 220px;
	}
	footer .footer-site .address .logo {
		margin: 10px 0;
		width: auto;
		height: 100px;
	}
	footer .footer-site .address p {
		float: right;
		display: block;
		font-family: "db_heaventmed",sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		line-height: 19px;
		color: #fff;
	}
	footer .footer-site .address a {
		float: right;
		display: block;
		margin-top: 5px;
		color: #fff;
	}
	footer .footer-site .address a:hover {
		text-decoration: none;
	}
	footer .footer-site .address a b {
		font-family: "db_heaventbold",sans-serif;
		font-size: 20px;
		line-height: 20px;
		color: #fff;
	}
	footer .footer-site .address a i {
		float: right;
		font-size: 22px;
		margin-left: 5px;
		color: #fff;
	}
	footer .footer-site.mobile .address {
		max-width: 100%;
	}
	footer .footer-site.mobile .address p {
		float: none;
		display: block;
	}

	/* footer .footer-copyright */
	footer .footer-copyright .row,
	footer .footer-copyright .col-other,
	footer .footer-copyright .col-copyright {
		margin: 0;
		padding: 0;
	}
	footer .footer-copyright .col-other ul {
		float: left;
		width: 100%;
		height: 35px;
		margin: 0;
		padding: 4px 0;
		list-style: none;
	}
	footer .footer-copyright .col-other ul > li {
		float: left;
		width: auto;
		display: inline-block;
	}
	footer .footer-copyright .col-other ul > li > a {
		font-family: "db_heaventmed",sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 14px;
		color: #fff;
		padding: 0 10px;
		text-transform: uppercase;
		border-left: 1px solid #fff;
		display: inline-block;
	}
	footer .footer-copyright .col-other ul > li:first-child > a {
		border-left: 0;
		padding-left: 0;
	}
	footer .footer-copyright .col-copyright p {
		margin: 0;
		padding: 10px 0;
		font-family: "db_heaventmed",sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 14px;
		color: #fff;
		text-align: right;
	}


/*----------------------------------------
	ICONS
----------------------------------------*/
	i.fa-facebook:before,
	i.fa-instagram:before,
	i.fa-youtube:before {
		display: none;
	}
	i.fa {
		width: 18px;
		height: 18px;
		display: inline-block;
		background: no-repeat center center;
		background-size: auto 18px;
		vertical-align: middle;
	}
	i.fa.fa-facebook {
		background-image: url(../images/icons/fa_facebook.png);
	}
	i.fa.fa-instagram {
		background-image: url(../images/icons/fa_instagram.png);
	}
	i.fa.fa-youtube {
		background-image: url(../images/icons/fa_youtube.png);
	}
	footer .footer-top i.fa {
		width: 22px;
		height: 22px;
		background-size: auto 22px;
	}
	footer .footer-top i.fa.fa-facebook {
		background-image: url(../images/icons/fa_facebook_footer.png);
	}
	footer .footer-top i.fa.fa-instagram {
		background-image: url(../images/icons/fa_instagram_footer.png);
	}
	footer .footer-top i.fa.fa-youtube {
		background-image: url(../images/icons/fa_youtube_footer.png);
	}


/*----------------------------------------
	MAINCONTENT
----------------------------------------*/
	.mainContent {
		min-height: 490px;
		max-width: 2000px;	
		margin: auto;
		letter-spacing: 0.5px;
	}
	.mainContent .container {
		padding-top: 40px;
		padding-bottom: 140px;
		position: relative;
	}
	.box-shadow {
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		   -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}

	.scrollto {
		float: left;
		width: 100%;	
		background: no-repeat top center;
	}
	.move_up {
		width: 64px;
		height: 64px;
		bottom: 30px;
		right: 0;
		position: absolute;
		display: inline-block;
		background: url(../images/icons/arrow_top.png) no-repeat center center;	
		cursor: pointer;
	}

	.share {
		right: 0;
		top: 50%;
		margin-top: -110px;
		position: fixed;
		display: inline-block;
		z-index: 400;
	}
	.share ul.share-social {
		float: left;
		margin: 0;
		padding: 0;
		width: 55px;
		list-style: none;
		display: block;
	}
	.share ul.share-social li {
		width: 35px;
		height: 35px;
		margin: 6.5px;
		display: inline-block;
		position: relative;
	}
	.share ul.share-social li img {
		float: left;
		display: block;
		max-width: 35px;
	}
	.share ul.share-social li,
	.share ul.share-social li a {
		float: left;
		display: block;
	}
	.share ul.share-social li:after {
		content: '';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 55px;
		height: 80px;
		background: url(../images/icons/bg_share.png) no-repeat top left;
		z-index: -1;
	}


	.breadcrumb {
		border-radius: 0;
		padding: 12px 15px 12px 0;
		background: none;
	}
	.breadcrumb > li + li::before {
		padding: 0 10px;
		font-size: 9px;
	    font-family: 'Glyphicons Halflings';
	    font-style: normal;
		content: "\e250";
		color: #21acef;
	}
	.breadcrumb > li {
		font-size: 20px;
		line-height: 20px;
	}
	.breadcrumb > li a {
		color: #033333;
		text-decoration: none;
	}
	.lifestyle .breadcrumb,
	.promotion .breadcrumb,
	.article .breadcrumb {
		padding: 12px 15px;
		margin-bottom: 30px;
		background: #21acef;
	}
	.article .breadcrumb {
		margin-bottom: 10px;
	}
	.lifestyle .breadcrumb > li + li::before,
	.promotion .breadcrumb > li + li::before,
	.article .breadcrumb > li + li::before {
		color: #fff;
	}
	.lifestyle .breadcrumb > li a,
	.promotion .breadcrumb > li a,
	.article .breadcrumb > li a {
		color: #fff;
	}


	.half {
		float: left;
		width: 50%;
	}
	.categories {
		float: left;
		width: 100%;
		height: 46px;
		padding: 0;
		background: #006699;
		text-align: right;
	}
	.categories label {
		color: #fff;
		font-weight: normal;
		margin: 0 5px 0 0;
		display: inline-block;	
		vertical-align: text-bottom;
	}
	.categories form {
		padding: 4px 10px;
	}
	.categories .form-group {
		width: 70%;
		display: inline-block;	
	}
	.categories .btn.dropdown-toggle,
	.categories .open > .dropdown-toggle.btn-default,
	.categories .open > .dropdown-toggle.btn-default:focus,
	.categories .open > .dropdown-toggle.btn-default:hover {
		padding-top: 1px;
		padding-bottom: 1px;
		height: 28px;
	}
	.categories ul.tabs {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0;
		list-style: none;
	}
	.categories ul.tabs > li {
		float: left;
		width: 33.33%;
		height: 46px;
		padding: 10px 0;
		text-align: center;
		border-top: 3px solid #006699;
		border-left: 1px solid #004a80;
		border-right: 1px solid #1189c4;
	}
	.categories ul.tabs > li.active {
		border-top: 3px solid #ee1d26;
	}
	.categories ul.tabs > li:first-child {
		border-left: 0;
	}
	.categories ul.tabs > li:last-child {
		border-right: 0;
	}
	.categories ul.tabs > li a {
		font-size: 22px;
		line-height: 22px;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
	}

	.view-all {
		float: left;
		width: 100%;
		padding: 15px 0 10px 0;
		text-align: right;
	}
	.view-all a {
		font-size: 24px;
		line-height: 24px;
		color: #006699;
		text-decoration: none;
	}
	.view-all a:hover {
		color: #01b3f0;	
	}
	.view-all .glyphicon {
		font-size: 16px;
		line-height: 16px;
		color: #01b3f0;	
	}


/*----------------------------------------
	LIST ITEMS
----------------------------------------*/
	.list-items {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;	
	}
	.list-items:after {
		content: '';
		display: block;
		clear: both;
	}
	.list-items > li {
		display: none;
		float: left;
		width: 25%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.list-items > li .thumbnail {
		padding: 10px 10px 5px 10px;
		border: 0;
		border-radius: 0;
		text-align: right;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		   -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}
	.list-items > li .thumbnail img {
		width: 100%;
	}
	.list-items > li .thumbnail p {
		margin: 10px 0 5px 0;
		font-size: 22px;
		line-height: 20px;
		color: #333;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 60px;
	}
	.list-items > li .thumbnail a.read-more {
		color: #033333;
	}
	.list-items > li .thumbnail a.read-more:hover {
		color: #006699;
	}
	.list-items > li .thumbnail a.read-more .glyphicon {
		font-size: 10px;
		margin-left: 5px;
	}

	.loadmore {
		min-height: 80px;
		text-align: center;
	}
	#loadMore {
		width: 120px;
		height: 120px;
		margin: 15px auto;
		display: block;
		background: url(../images/icons/load_more.png) no-repeat center center;
	}
	#loadMore:hover {
		background-image: url(../images/icons/load_more_rollover.png);
		cursor:pointer;
	}


/*----------------------------------------
	01 HOME
----------------------------------------*/
	.home {
		background:#fff url(../images/home/banner.jpg) no-repeat top center;	
	}
	.home .banner {
		height: 530px;
		position: relative;
	}
	.home .scroll {
		width: 70px;
		height: 70px;
		left: 0;
		right: 0;
		bottom: -35px;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		display: inline-block;
		background: url(../images/icons/scroll.png) no-repeat center center;
		z-index: 100;
	}

	.home .mainContent .container {
		padding-bottom: 40px;
	}
	.home .mainContent .social .container {
		padding-top: 60px;	
	}
	.home .social {
		min-height: 740px;
		background: #e2f1f8 url(../images/home/bg_social.jpg) no-repeat top center;	
	}
	.home .social .heading-instagram {
		padding-left: 210px;
		background: url(../images/home/instagram.png) no-repeat center left;	
	}
	.home .social .hashtag {
		display: table-cell;
		vertical-align: middle;	
		height: 50px;
		z-index: 100;
	}
	.home .social .hashtag span {
		margin: 0 5px;
		text-transform: capitalize;
		display: inline-block;
		font-size: 24px;
		line-height: 20px;
		color: #006699;
	}
	.home .social .social-gallery {
		padding: 0;
		margin: 5px 0;
		width: 100%;
		max-width: 700px;
	}
	.home .social .heading-youtube {
		width: 100%;
		height: 50px;
		display: block;
		background: url(../images/home/youtube.png) no-repeat center left;		
	}
	.home .social .video {
		width: 100%;
		margin: 10px 0 20px 0;
		background: #000;
	}
	.home .social .heading-facebook {
		width: 100%;
		height: 50px;
		display: none;
		background: url(../images/home/facebook.png) no-repeat center left;		
	}
	.home .social .feed-facebook {
		width: 100%;
		min-height: 280px;
		border: 5px solid #fff;
		display: block;
		background: #fff;
	}
	.fb-page iframe {
		height: 280px !important;
	}


	/* owl-carousel */
	.home .social .owl-carousel .owl-item img {
		width: 0;
		height: 0;
		border: 0;
		margin: 5px 0;
		-webkit-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
		   -moz-box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
				box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.25);
	}
	.home .social .owl-carousel .owl-item .item {
		padding: 8px;
		background: url(../images/home/border.png) no-repeat center center /100%;
	}
	.home .social .owl-carousel .owl-item.active img {
		width: 100% !important;
		height: auto;
	}
	.owl-carousel .owl-nav .owl-prev,
	.owl-carousel .owl-nav .owl-prev:hover {
		left: -60px;
		background-color: none;
		background: url(../images/icons/arrow_prew.png) no-repeat center center
	}
	.owl-carousel .owl-nav .owl-next,
	.owl-carousel .owl-nav .owl-next:hover {
		right: -60px;
		background-color: none;
		background: url(../images/icons/arrow_next.png) no-repeat center center
	}
	.owl-theme .owl-nav [class*="owl-"] {
		width: 50px;
		height: 50px;
		margin-top: -25px;
		top: 50%;
		position: absolute;
		-webkit-border-radius: 0;	
		-moz-border-radius: 0;	
		border-radius: 0;	
		opacity: 1;
		-webkit-transition: all 0.5s ease;
		   -moz-transition: all 0.5s ease;
			 -o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
				transition: all 0.5s ease;
	}
	.owl-theme .owl-nav [class*="owl-"]:hover {
		opacity: 0.5;
	}
	.owl-carousel .owl-nav .owl-prev.disabled,
	.owl-carousel .owl-nav .owl-next.disabled {
		opacity: 0.05;
	}


	.home .news-activities {
		background: #e1f0f7 url(../images/home/bg_news-activities.png) no-repeat top center;
	}
	.home .mainContent .news-activities .container {
		padding-bottom: 20px;
	}
	.home .news-activities .col-md-6 {
		padding-left: 0;
		padding-right: 0;	
	}
	.home .news-activities .heading {
		padding: 10px 15px;
		float: left;
		width: 100%;
		display: block;
	}
	.home .news-activities .heading img {
		float: left;
	}
	.home .view-all {
		padding: 0 15px;
	}
	.home .view-all a {
		z-index: 999;
		text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
	}
	.home .news-activities .heading .view-all {
		float: right;
		width: auto;
		display: inline-block;
		padding: 12px 0 10px 0;
	}
	.home .list-items > li {
		width: 50%;
	}
	.home .list-items > li {
	    display: block;
	}
	.home .news-activities .owl-carousel .owl-stage {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.home .news-activities .owl-carousel .owl-item .thumbnail {
		padding: 10px 10px 5px 10px;
		border: 0;
		border-radius: 0;
		text-align: right;
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		   -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
				box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
	}
	.home .news-activities .owl-carousel .owl-item .thumbnail p {
		margin: 10px 0 5px 0;
		font-size: 22px;
		line-height: 22px;
		color: #333;
		text-align: left;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 66px;
	}
	.home .news-activities .owl-carousel .owl-item .thumbnail a.read-more {
		color: #033333;
	}
	.home .news-activities .owl-carousel .owl-item .thumbnail a.read-more:hover {
		color: #006699;
	}
	.home .news-activities .owl-carousel .owl-item .thumbnail a.read-more .glyphicon {
		font-size: 10px;
		margin-left: 5px;
	}
	.owl-theme .owl-nav.disabled + .owl-dots {
		margin-top: 0;	
	}
	.owl-theme .owl-dots .owl-dot span {
		width: 12px;
		height: 12px;
		margin: 5px;
		opacity: 0.5;
		background: #004d8a;
	}
	.owl-theme .owl-dots .owl-dot.active span, 
	.owl-theme .owl-dots .owl-dot:hover span {
		opacity: 1;
		background: #004d8a;
	}

	.home .product-purra {
		background: #e1f0f7 url(../images/home/product.jpg) no-repeat bottom center;
	}
	.home .mainContent .product-purra .container {
		padding-top: 20px;
	}
	.home .mainContent .product-purra .container {
		height: 700px;	
	}
	.home .product-purra .img {
		float: right;
		display: block;
		width: 100%;
	}
	.home .product-purra p {
		font-size: 24px;
		line-height: 26px;
		margin: 10px 0;
		text-align: right;
	}
	.home .product-purra p i {
		font-size: 34px;
	}
	.home .product-purra p i,
	.home .product-purra p span {
		color: #439de6;	
	}
	.home .product-purra p br {
		display: block;
	}
	.home .product-purra p br.desktop,
	.home .product-purra p br.mobile {
		display: none;
	}


/*----------------------------------------
	02 LIFESTYLE
----------------------------------------*/
	.lifestyle {
		background:#e1f0f7 url(../images/lifestyle/bg.jpg) no-repeat top center;
	}
	.lifestyle .mainContent .container {
		padding-top: 220px;
		padding-bottom: 15px;
	}


/*----------------------------------------
	03 PROMOTIONS & ACTIVITIES
----------------------------------------*/
	.promotion {
		background:#e1f0f7 url(../images/promotion/bg.jpg) no-repeat top center;
	}
	.promotion .mainContent .container {
		padding-top: 220px;
		padding-bottom: 15px;
	}


/*----------------------------------------
	ARTICLE
----------------------------------------*/
	.article {
		background:#e1f0f7 url(../images/article/bg.jpg) no-repeat top center;	
	}
	.article .content {
		margin-bottom: 20px;
		padding: 15px 35px 10px 35px;	
		background: #fff;
	}
	.article .content:after {
		content: '';
		display: block;
		clear: both;
	}
	.article .content h2 {
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 38px;
		line-height: 34px;
		color: #033333;
	}
	.article .content h2 span.blue {
		color: #006699;
	}
	.article .breadcrumb > li:last-child a {
		width: 310px;
		height: 20px;
		position: absolute;
		display: inline-block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.article .content .detail,
	.article .content .detail p {
		font-size: 21px;
		line-height: 22px;
		color: #666;
	}
	.article .content .detail {
		margin-top: 20px;	
	}
	.article .content .detail p {
		text-indent: 0;
		margin-bottom: 15px;
	}
	.article .content .detail p a,
	.article .content .detail p span {
		color: #006699;
		margin-right: 5px;
	}
	.article .content .social-share {
		float: left;
		width: 100%;
		display: block;
		padding: 20px 0;
		text-align: right;
		border-bottom: 1px solid #ccc;
	}
	.article .content .gallery {
		float: left;
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 10px -1%;
	}
	.article .content .gallery li {
		float: left;
		width: 23%;
		margin: 8px 1%;
	}
	.article .content .gallery img {
		max-width: 100%;
		display: block;
		margin: auto;
	}
	.fancybox-close {
		display: none;
	}
	.fancybox-prev span,
	.fancybox-next span {
		width: 35px;
		height: 45px;
		visibility: visible;
		background: no-repeat center center;
	}
	.fancybox-prev span {
		left: -50px;
		background-image: url(../images/icons/fancybox_prew.png);
	}
	.fancybox-next span {
		right: -50px;
		background-image: url(../images/icons/fancybox_next.png);
	}
	.fancybox-prev span:hover,
	.fancybox-next span:hover {
		opacity: 0.5;	
	}


	#carousel-example-generic {
		width: 100%;
		display: inline-block;
	}
	.carousel-inner > .item > img {
		width: 100%;
		height: auto;
		display: block;
	}
	.carousel-control .glyphicon.glyphicon-chevron-left,
	.carousel-control .glyphicon.glyphicon-chevron-right {
		margin: -55px 0 0 0;
		padding: 0;
		width: 50px;
		height: 50px;
		font-size: 50px;
		line-height: 40px;
	}
	ul.thumbnails-carousel {
		height: 80px;
		margin: 0;
		padding: 10px 0 0 0;
		list-style-type: none;
		text-align: center;
	}
	ul.thumbnails-carousel .center {
		display: inline-block;
	}
	ul.thumbnails-carousel li {
		float: left;
		width: 50px;
		height: 50px;
		overflow: hidden;
		margin-right: 10px;
		cursor: pointer;
		opacity: 0.5;
	}
	ul.thumbnails-carousel li img {
		height: 50px;
	}
	ul.thumbnails-carousel li.active-thumbnail {
		opacity: 1;
	}
	.controls-background-reset {
		background: none !important;
	}
	.indicators-fix {
		bottom: 100px;
	}


/*----------------------------------------
	ARTICLE > SIDEBAR
----------------------------------------*/
	.sidebar .box-shadow {
		padding: 5px;
		background: #fff;
	}
	.sidebar .box-shadow:after {
		content: '';
		display: block;
		clear: both;
	}
	.sidebar .related-content {
		padding-top: 10px;	
	}
	.sidebar .related-content ul {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.sidebar .related-content ul > li {
		float: left;
		width: 100%;
		margin: 0;
		padding: 15px;
		border-bottom: 1px solid #eee;
	}
	.sidebar .related-content ul > li p {
		padding: 5px 0;
		height: 80px;
		font-size: 22px;
		line-height: 22px;
		display: table-cell;
		vertical-align: middle;
	}
	.sidebar .related-content ul > li img {
		float: left;
		width: 80px;
		height: 80px;
		margin-right: 10px;
	}
	.sidebar .related-content ul > li img:hover {
		opacity: 0.5;	
	}
	.sidebar .tab-content > .tab-pane {
		min-height: 430px;
		border: 1px solid #eee;
	}


/*----------------------------------------
	ARTICLE > PAGER
----------------------------------------*/
	.pager {
		margin: 0
	}
	.pager li > a {
		font-size: 24px;
		line-height: 24px;
		color: #033333;	
	}
	.pager li > a:focus, 
	.pager li > a:hover {
		color: #006699;	
		background: none;
	}
	.pager li > a, 
	.pager li > span {
		border: 0;
		padding: 15px 0;
	}
	.pager .glyphicon {
		top: -1px;
		font-size: 10px;
		line-height: 10px;
		color: #006699;	
	}
	.pager .disabled>a,
	.pager .disabled>a:focus,
	.pager .disabled>a:hover,
	.pager .disabled>span,
	.pager .disabled .glyphicon {
		color: #999;
	}


/*----------------------------------------
	ARTICLE > NAV PILLS
----------------------------------------*/
	.nav-pills i {
		width: 100%;
		max-width: 110px;
		height: 50px;
		display: block;
		margin: 0 auto 5px;
		background: no-repeat top left / 100%;
	}
	.nav-pills i.facebook {
		background-image: url(../images/icons/tab_facebook.png)
	}
	.nav-pills i.instagram {
		background-image: url(../images/icons/tab_instagram.png);
	}
	.nav-pills i.youtube {
		background-image: url(../images/icons/tab_youtube.png)
	}
	.nav-pills {
		float: none;
		width: 100%;
		max-width: 330px;
		margin: auto;
		display: block;
	}
	.nav-pills > li {
		width: 32%;	
		margin: 0;
		padding: 0;	
	}
	.nav-pills > li > a, 
	.nav-pills > li > a:focus, 
	.nav-pills > li > a:hover,
	.nav-pills > li.active > a, 
	.nav-pills > li.active > a:focus, 
	.nav-pills > li.active > a:hover {
		margin: 0;
		padding: 0;	
		background: none;
	}
	.nav-pills > li.active > a i.facebook {
		background-image: url(../images/icons/tab_facebook_active.png);
	}
	.nav-pills > li.active > a i.instagram {
		background-image: url(../images/icons/tab_instagram_active.png);
	}
	.nav-pills > li.active > a i.youtube {
		background-image: url(../images/icons/tab_youtube_active.png);
	}


/*----------------------------------------
	04 PRODUCT
----------------------------------------*/
	.product {
		background: #fff url(../images/product/bg.jpg) no-repeat top center;
	}
	.product .mainContent .container {
		padding-bottom: 20px;	
	}
	.product h1 br,
	.product .all-pack span br {
		display: none;
	}

	.product .product-purra {
		width: 100%;
		height: 630px;
		position: relative;
	}
	.product .product-purra:after {
	    content: "";
	    display: block;
	    clear: both;
	}
	.product .product-purra .img-product-purra {
		top: -30px;
		left: -60px;
		position: absolute;
	}
	.product .product-purra ul {
		width: 42%;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.product .product-purra ul > li {
		float: left;
		width: 100%;
		margin: 15px 0;
	}
	.product .product-purra p {
		margin: 5px 0;
		font-size: 24px;
		line-height: 24px;
		color: #000;	
	}
	.product .product-purra p span {
		color: #439de6;	
	}
	.product .product-purra img.img-circle {
		float: left;
		width: 80px;
		height: 80px;
		margin-right: 10px;
		border: 2px solid #fff;	
	}
	.product .product-purra ul.pull-right > li p {
		margin-top: 15px;
	}

	.product .purra {
		max-width: 970px;
		margin: 25px auto 25px;
		display: block;
		position: relative;
		padding: 30px 15px 15px 15px;
		border-radius: 10px;
		background-color: rgba(56,151,229,0.8);
	}
	.product .purra:after {
	    content: "";
	    display: block;
	    clear: both;
	}
	.product .purra > div {
		padding: 8px 15px 8px 45px;
		position: relative;
		font-size: 24px;
		line-height: 24px;
		color: #fff;
	}
	.product .purra span {
		width: 22px;
		height: 36px;
		margin-top: -10px;
		margin-left: -40px;
	    display: inline-block;
		position: absolute;
		background: url(../images/product/bg_water.png) no-repeat top left;
		line-height: 40px;
		color: #2c64af;
		text-align: center;
	}
	.product .purra img {
		float: left;
		margin-left: -15px;
		margin-top: -140px;
		margin-bottom: 20px;
	}

	.product .all-pack {
		width: 100%;
		display: block;
		padding: 0;
		margin: 25px auto 25px;
	}
	.product .all-pack ul {
		width: 100%;
		max-width: 800px;
		padding: 0;
		margin: auto;
		display: block;
		list-style: none;
	}
	.product .all-pack ul:after {
	    content: "";
	    display: block;
	    clear: both;
	}
	.product .all-pack ul > li {
		float: left;
		width: 25%;
		height: 350px;
		display: table;
		text-align: center;
	}
	.product .all-pack ul > li .img-pack {
		display: table-cell;
		vertical-align: bottom;
		text-align: center;
	}
	.product .all-pack ul > li .img-pack .caption {
		width: 100%;
		position: relative;
	}
	.product .all-pack ul > li img {
		max-width: 100%;
		margin: auto;
		display: block;
	}
	.product .all-pack span {
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		margin: auto;
		font-size: 22px;
		line-height: 20px;
		color: #000;
	}

	.product .store {
		margin: 15px 0;
		font-size: 20px;
		line-height: 20px;
		color: #333;
		text-align: center;
	}
	.product .store img {
	    margin: 10px 3px;
		width: 50px;
	    height: 50px;
		-webkit-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
		   -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
				box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.25);
	}


/*----------------------------------------
	05 CONTACT US
----------------------------------------*/
	.contact {
		background:#fff url(../images/contact/bg.jpg) no-repeat top center;
	}
	.contact p {
		color: #fff;
	}
	.contact .mainContent .address {
		width: 100%;
		height: 170px;
		margin-bottom: 25px;
		padding: 15px;
		background: url(../images/contact/bg_address.jpg) no-repeat top center;	
	}
	.contact .mainContent .address img.logo {
		max-width: 100%;
		margin: 15px auto 15px;
		display: block;
	}
	.contact .form-contact {
		min-height: 450px;
		padding: 25px 30px;
		background-color: #fff;	
	}
	.contact .form-contact .captcha .row {
		height: 50px;
		margin-left: -5px;
		margin-right: -5px;
	}
	.contact .form-contact .captcha .col-xs-6 {
		padding: 0 5px;
	}
	.contact .form-contact .captcha .form-control {
		height: 50px;
		font-size: 30px;
	}
	.contact .form-contact .img-captcha {
		width: 100%;
		height: 50px;
		border: 1px solid #b6b6b6;
		text-align: center;
	}
	.contact .form-contact .img-captcha img {
		padding: 5px;
		max-width: 100%;
		max-height: 100%;
	}
	#map-container {
		height: 255px;
		border: 1px solid #bbb;
	}


/*----------------------------------------
	06 COMING SOON
----------------------------------------*/
	.cover-container {
		width: 100%;
		height: 600px;
		display: table;
	}
	.coming-soon {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
	.coming-soon img {
		max-width: 100%;
		margin: 40px auto 10px;
		display: block;
	}
	.btn-back {
		width: 146px;
		height: 40px;
		display: inline-block;
		background: url(../images/icons/btn_back.png) no-repeat center center;	
	}


/*----------------------------------------
	07 SEARCH RESULTS
----------------------------------------*/
	.search-results {
		width: 100%;
		max-width: 770px;
		padding: 0;	
		margin: auto;
		display: block;
	}
	.search-results h3 {
		margin: 20px 0 10px 0;
		padding-bottom: 8px;
		font-family: 'db_heaventregular', sans-serif;
		font-size: 30px;
		line-height: 30px;
		color: #333;
		border-bottom: 2px solid #3395e5;
	}
	.search-results h3 span {
		color: #006699;
	}

	.search-results .input-group {
		background: #006699;	
		height: 60px;
	}
	.search-results .input-group p {
		margin: 0 10px;
		font-family: 'db_heaventregular', sans-serif;
		font-size: 30px;
		line-height: 30px;
		color: #fff;
	}
	.search-results .input-group .form-control {
		font-family: 'db_heaventregular', sans-serif;
		font-size: 28px;
		line-height: 30px;
		height: 38px;
		margin: 10px 0;
		border: 2px solid #d6d6d6;
		-webkit-border-radius: 0;	
		-moz-border-radius: 0;	
		border-radius: 0;
	}
	.search-results .input-group-btn .btn {
		width: 65px;
		height: 38px;
		display: inline-block;
		background: url(../images/icons/icon_find.png) no-repeat center center;
		-webkit-border-radius: 0;	
		-moz-border-radius: 0;	
		border-radius: 0;
	}

	.search-results .nav-tabs {
		color: #fff;
		margin: 15px 0 30px 0;
		border: 0;
		background: #666;
	}
	.search-results .nav-tabs > li {
		margin: 0;
	}
	.search-results .nav-tabs > li > a {
		height: 45px;
		margin: 0;
		padding-left: 30px;
		padding-right: 30px;
		font-family: 'db_heaventregular', sans-serif;
		font-size: 24px;
		line-height: 24px;
		color: #fff;
		border: 0;	
	}
	.search-results .nav > li > a:focus, 
	.search-results .nav > li > a:hover,
	.search-results .nav-tabs > li.active > a, 
	.search-results .nav-tabs > li.active > a:focus, 
	.search-results .nav-tabs > li.active > a:hover {
		margin: 0;
		color: #fff;
		border: 0;	
		background-color: #3395e5;
		-webkit-border-radius: 0;	
		-moz-border-radius: 0;	
		border-radius: 0;
	}

	ul.list-items-results {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	.list-items-results > li {
		float: left;
		width: 100%;
		margin: 0;
		padding: 20px 0;
		border-bottom: 1px dotted #999;
	}
	.list-items-results > li .thumbnail {
		float: left;
		width: 23%;
		max-width: 170px;
		display: inline-block;
		text-align: center;
		margin: 0;
		padding: 0;
		border: 0;
		background: none;
	}
	.list-items-results > li .thumbnail img {
		width: 130px;
		max-width: 100%;
	}
	.list-items-results > li .caption {
		float: left;
		width: 77%;
		display: inline-block;
	}
	.list-items-results > li h4 {
		font-family: 'db_heaventregular', sans-serif;
		font-size: 30px;
		line-height: 30px;
		color: #006699;
	}
	.list-items-results > li p,
	.list-items-results > li a {
		font-family: Tahoma, Tahoma Regular, Arial, sans-serif;
		font-size: 14px;
		line-height: 20px;
		color: #333;
	}
	.list-items-results > li p {
		margin: 5px 0;	
	}

	.search-results .btn-loadmore {
		width: 290px;
		height: 40px;
		margin: 50px auto 15px;
		font-size: 24px;
		text-align: center;
		color: #fff;
		background: #3395e5;
		-webkit-border-radius: 6px;	
		-moz-border-radius: 6px;	
		border-radius: 6px;	
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: inset 0px 1px 2px 0px rgba(50, 50, 50, 0.5);
		   -moz-box-shadow: inset 0px 1px 2px 0px rgba(50, 50, 50, 0.5);
		        box-shadow: inset 0px 1px 2px 0px rgba(50, 50, 50, 0.5);
	}
	.search-results .btn-loadmore:hover {
		background: #0066b9;
	}


/*----------------------------------------
	MODAL POPUP
----------------------------------------*/
	.modal {
	    text-align: center;
	}
	.modal:before {
	    content:'';
	    display: inline-block;
	    height: 100%;
	    vertical-align: middle;
	    margin-right: -4px;
	}
	.modal.popup {
		padding: 0 !important;
		margin-left: auto;
		margin-right: auto;
		background: rgba(0, 0, 0, 0.8);
	}
	.modal-dialog {
		max-width: 640px;
		width: 90%;
	    display: inline-block;
	    text-align: left;
	    vertical-align: middle;
		border: 0;
		border-radius: 0;
		background: none !important;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
	.modal-content {
		padding: 0;
		border: 0;
		border-radius: 0;
		background: none !important;
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
	}
	.modal-header {
		min-height: 36px;
		padding: 0;
		border: 0;
		background: none !important;
	}
	.modal-bordered {
		padding: 100px 18px 18px 18px;
	}
	.modal-bordered img.img-packshot {
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: -100px;
		z-index: 200;
	}
	.modal-body {
		margin: 0;
		padding: 220px 0 50px 0;
		background: #fff;
		text-align: center;
	}
	.modal-body h3 {
		margin-bottom: 10px;
		color: #006699;	
	}
	.modal-body p {
		font-size: 26px;
		line-height: 28px;
		margin-bottom: 25px;
		color: #033333;	
	}
	.modal-body img {
		cursor: pointer;	
	}
	button.close {
		right: 0;
		top: 83px;
		width: 36px;
		height: 36px;
		margin: 0;
		padding: 0;
		position: absolute;
		background: url(../images/icons/close_popup.png);
		opacity: 1;
		z-index: 200;
	}
	button.close:hover {
		opacity: 1;
	}


@media (min-height: 568px){
	
	.navbar-fixed-bottom .navbar-collapse, 
	.navbar-fixed-top .navbar-collapse {
		max-height: 420px;	
	}
	
}

@media (min-width: 1024px) {
	
	/*----------------------------------------
		HEADER & NAV
	----------------------------------------*/
		header .container {
			width: 100%;
		}
		header .navbar.navbar-default {
			padding-left: 30px;
			padding-right: 30px;
		}
		
		.navbar-default .navbar-collapse .navbar-nav {
			height: 55px;
			margin-top: 35px;
		}
		.navbar-default .navbar-collapse .navbar-nav > li > a:focus,
		.navbar-default .navbar-collapse .navbar-nav > li > a:hover,
		.navbar-default .navbar-collapse .navbar-nav > li > a.active,
		.navbar-default .navbar-nav > .active > a, 
		.navbar-default .navbar-nav > .active > a:focus, 
		.navbar-default .navbar-nav > .active > a:hover {
			color: #fff;
			background: url(../images/icons/underline_nav.png) no-repeat left bottom;
			-webkit-transform: translate3d(0, 0, 0);
			   -moz-transform: translate3d(0, 0, 0);
				-ms-transform: translate3d(0, 0, 0);
				 -o-transform: translate3d(0, 0, 0);
					transform: translate3d(0, 0, 0);
		}
	
}

@media (min-width: 1367px){

	/*----------------------------------------
		MAINCONTENT
	----------------------------------------*/
		.container{
			width: 1170px;
		}
	
	
	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.home .mainContent .container{
			width: 1140px;
		}
		.home .social .col-md-4 {
			padding-left: 35px;
		}
		.home .social .feed-facebook {
			min-height: 315px;
		}
		.fb-page iframe {
			height: 315px !important;
		}

		.home .product-purra .detail {
			margin-top: 60px;	
		}
		.home .product-purra p br,
		.home .product-purra p br.mobile {
			display: none;
		}
		.home .product-purra p br.desktop {
			display: block;
		}
	

	/*----------------------------------------
		02 LIFESTYLE
	----------------------------------------*/
		.lifestyle .mainContent .container {
			width: 1060px;
		}
		.lifestyle .move_up {
			right: -40px;	
		}
	
	
	/*----------------------------------------
		03 PROMOTIONS & ACTIVITIES
	----------------------------------------*/
		.promotion .mainContent .container {
			width: 1060px;
		}	
		.promotion .move_up {
			right: -40px;	
		}


	/*----------------------------------------
		ARTICLE
	----------------------------------------*/
		.article .mainContent .container {
			padding-top: 50px;
			width: 1120px;	
		}
	
}

@media (max-width: 1366px) {

	/*----------------------------------------
		MAINCONTENT
	----------------------------------------*/
		.move_up {
			right: 20px;
		}
	

	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.owl-theme .owl-nav [class*="owl-"] {
			top: 100%;
			margin-top: 0;
		}
		.owl-carousel .owl-nav .owl-prev, 
		.owl-carousel .owl-nav .owl-prev:hover {
			left: 0;	
		}
		.owl-carousel .owl-nav .owl-next, 
		.owl-carousel .owl-nav .owl-next:hover {
			right: 0;	
		}
	

	/*----------------------------------------
		04 PRODUCT
	----------------------------------------*/
		.product .store span {
			display: block;
			margin: 5px auto;
		}

}

@media (min-width: 1024px) and (max-width: 1366px) {
	
	/*----------------------------------------
		FOOTER
	----------------------------------------*/
		footer .footer-site ul {
			margin-right: 28px;
		}


	/*----------------------------------------
		MAINCONTENT
	----------------------------------------*/
		.container{ 
			width: 960px;
		}


	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.home .social {
			min-height: 700px;	
		}
		.home .social .hashtag span {
			font-size: 21px;	
		}
		.home .product-purra .detail {
			margin-top: 60px;	
		}
		.home .product-purra p {
			font-size: 21px;	
		}
		.home .product-purra p br,
		.home .product-purra p br.desktop,
		.home .product-purra p br.mobile {
			display: none;
		}

}

@media (min-width: 1024px) and (max-width: 1100px) {
	
	/*----------------------------------------
		MAINCONTENT
	----------------------------------------*/
		.share ul.share-social {
			padding-right: 5px;
		}
	

	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.home {
			background-size: auto 580px;
		}
	
}

@media (min-width: 1024px) {
	
	/*----------------------------------------
		MAINCONTENT
	----------------------------------------*/
		.mainContent .container {
			padding-bottom: 40px;
		}
		.article .move_up,
		.contact .move_up {
			display: none;
		}

		.btn, 
		#loadMore {
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;		
		}
	
	
	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.home .news-activities .row {
			margin-left: 0;
			margin-right: 0;
			padding-left: 15px;
			padding-right: 15px;
		}
		.home .news-activities .owl-carousel .owl-item img {
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;		
		}
		.home .news-activities .owl-carousel .owl-item img:hover {
			opacity: 0.5;
		}


	/*----------------------------------------
		ARTICLE
	----------------------------------------*/
		.carousel-inner > .item > img {
			max-width: 640px;
		}
		.list-items > li .thumbnail img {
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			transition: all 0.5s ease;		
		}
		.list-items > li .thumbnail img:hover {
			opacity: 0.5;	
		}
	
}

@media (max-width: 1023px) {

		.visible {
			opacity: 1!important;
		}
		.share,
		.arrow {
			display: none;	
		}

	/*----------------------------------------
		HEADER
	----------------------------------------*/
		header .container,
		footer .container {
			width: 100%;
			display: block;
		}
		header, .navbar {
			height: 90px;	
		}
		header .navbar-brand > img {
			height: 90px;	
		}
		header .container {
			padding: 0;
		}

		header .container > .navbar-header {
			height: 90px;
		}
		.navbar-header .navbar-nav {
			position: absolute;
			right: 90px;
			height: 0;	
		}
		.navbar-header .navbar-nav > li {
			display: none;
		}
		.navbar-header .navbar-nav li.icons,
		.navbar-header .navbar-nav li.language {
			float: left;
			width: auto;
			display: block;
			background: none;
			margin: 30px 0 0 0;
			padding: 0 5px;
		}
		.navbar-header .navbar-nav li.icons > a,
		.navbar-header .navbar-nav li.language > a {
			color: #fff;
			font-size: 28px;
			height: 40px;
			padding: 2px 5px;
		}
		.navbar-header .navbar-nav li.language > a {
			font-size: 16px;
			font-weight: normal;
			padding: 5px 15px;
		}
		.navbar-header .navbar-nav li.language,
		.navbar-header .navbar-nav li.language:hover {
			border: 0;
			background: none;	
		}
		.navbar-header .navbar-nav > li.icons > a i.icon-search {
			width: 42px;
			height: 60px;
			background: url(../images/icons/icon_search.png) no-repeat center 0;
		}
		.navbar-header .navbar-nav > li.icons > a i.icon-search.active {
			background: url(../images/icons/icon_close.png) no-repeat center 2px;
		}
		.navbar-header .navbar-nav > li.icons > a i.icon-search.active:before {
			content: '';
			position: absolute;
			display: block;
			width: 54px;
			height: 65px;
			padding: 5px;
			margin-top: -8px;
			margin-left: -6px;
			background: #0267ba;
			z-index: -1;
		}
		
		.navbar-nav {
			margin-top: 0;
			margin-bottom: 0;
			border: 0;
			background: #0267ba;
		}
		.navbar.navbar-default {
			background: url(../images/bg_nav_tablet.png) repeat-x top center;
		}
		.navbar-default .navbar-collapse {
			margin-top: -1px;
			padding-bottom: 10px;
			border: 0;
			background: #0267ba;
		}
		.navbar-default .navbar-nav > li {
			border-bottom: 1px solid #0267ba;
			background: #3395e5;
		}
		.navbar-default .navbar-nav > li:hover {
			background: none;
		}
		.navbar-default .navbar-nav > li > a {
			margin: 0;
			height: 80px;
			padding: 25px 60px;
			font-size: 26px;
			line-height: 30px;
		}
		.navbar-default .navbar-nav > li > a:hover,
		.navbar-default .navbar-nav > li > a:focus, 
		.navbar-default .navbar-nav > li > a.active,
		.navbar-default .navbar-nav > li > a.active:hover,
		.navbar-default .navbar-nav > .active > a, 
		.navbar-default .navbar-nav > .active > a:focus, 
		.navbar-default .navbar-nav > .active > a:hover {
			background: #0267ba;
			color: #fff;
		}
		.navbar-default .navbar-toggle,
		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus  {
			background: none;
			border: 0;
		}
		.navbar-default .navbar-toggle {
			top: 24px;
			right: 30px;
			margin: 0;
			padding: 5px 7px 10px 7px;
			width: 54px;
			height: 65px;
			display: inline-block;
			position: relative;
			border-radius: 0;
			background: #0267ba url(../images/icons/icon_close.png) no-repeat center 10px !important;
		}
		.navbar-default .navbar-toggle.collapsed {
			background: url(../images/icons/menu_bar.png) no-repeat center 15px !important;
		}
		
		.navbar-default .navbar-nav .language {
			width: 60px;
		}
		.navbar-default .navbar-nav .language .btn.dropdown-toggle,
		.navbar-default .navbar-nav .language .btn.dropdown-toggle:focus,
		.navbar-default .navbar-nav .language .btn.dropdown-toggle:hover,
		.navbar-default .navbar-nav .language .btn.dropdown-toggle:active {
			font-size: 26px;
			line-height: 28px;
			color: #fff;
			height: 30px;
			padding-top: 0;
			padding-bottom: 0;
			background: none;
		}
		.navbar-default .navbar-nav .language ul.dropdown-menu {
			width: 60px;
			margin: 0;
			padding: 0;
			background: none;
		}
		.navbar-default .navbar-nav .language ul.dropdown-menu > li > a,
		.navbar-default .navbar-nav .language ul.dropdown-menu > li > a:hover {
			font-size: 26px;
			line-height: 28px;
			color: #fff;
			margin: 0;
			padding: 0 14px 0 14px;
			background: none;
		}

		.navbar-default .navbar-nav > li.icons > a:hover, 
		.navbar-default .navbar-nav > li.icons > a:focus,
		.navbar-default .navbar-nav > li.language > a:hover, 
		.navbar-default .navbar-nav > li.language > a:focus {
			background: none;
		}

		.navbar-header .navbar-nav > li {
			border-bottom: 0;
		}
		
		.form-search {
			width: 100%;
			top: 89px;
			padding: 15px 30px;
		}
		.form-search .form-control {
			height: 54px;
			font-size: 30px;
			line-height: 30px;
		}
	
	
	/*----------------------------------------
		FOOTER
	----------------------------------------*/
		footer .footer-site {
			display: none;	
		}
		footer .footer-site.mobile {
			display: block;	
			background-color: #248ce3;
		}
		
		/* footer .footer-top */
		footer .footer-top {
			height: 80px;
			padding-top: 25px;
			background-color: #0267ba;
		}
		footer label,
		footer .footer-top p,
		footer .footer-top i {
			color: #fff;	
		}
		
		/* footer .footer-site.mobile */
		footer .footer-site.mobile .container {
			padding: 0;
		}
		
		/* footer .nav-mobile */
		footer .footer-site.mobile .nav-mobile ul ul {
			overflow: hidden;
			background-color: #fff;
			-webkit-transition: height 0.3s ease-in-out;
			   -moz-transition: height 0.3s ease-in-out;
				 -o-transition: height 0.3s ease-in-out;
				-ms-transition: height 0.3s ease-in-out;
					transition: height 0.3s ease-in-out;
		}
		footer .footer-site.mobile .nav-mobile ul,
		footer .footer-site.mobile .nav-mobile ul li {
			float: left;
			width: 100%;
			margin: 0;
			padding: 0;
			display: block;
			position: relative;
		}
		footer .footer-site.mobile .nav-mobile ul li a {
			float: left;
			width: 100%;
			height: 80px;
			margin: 0;
			padding: 0;
			font-family: "db_heaventmed",sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 26px;
			line-height: 28px;
			text-decoration: none;
			cursor: pointer;
		}
		footer .footer-site.mobile .nav-mobile > ul > li {
			border-bottom: 1px solid #fff;
		}
		footer .footer-site.mobile .nav-mobile > ul > li > a {
			padding-top: 28px;
			padding-bottom: 24px;
			padding-left: 30px;
			padding-right: 30px;
		}
		footer .footer-site.mobile .nav-mobile > ul > li.nav-sub > a {
			padding-top: 24px;
		}
		footer .footer-site.mobile .nav-mobile > ul > li.nav-sub > a {
			background: url(../images/icons/plus.png) no-repeat 97% 30px;
		}
		footer .footer-site.mobile .nav-mobile > ul > li.nav-sub.active > a {
			background: url(../images/icons/close.png) no-repeat 97% 30px;
			padding-bottom: 0;
		}
		footer .footer-site.mobile .nav-mobile ul ul > li {
			padding-left: 30px;
			padding-right: 30px;
		}
		footer .footer-site.mobile .nav-mobile ul ul > li > a {
			margin: 0;
			padding: 0;
			color: #666;
			border-bottom: 1px solid #ccc;
		}
		footer .footer-site.mobile .nav-mobile ul ul > li:last-child > a {
			border-bottom: 0;
		}
		footer .footer-site.mobile .nav-mobile ul li span {
			width: 100px;
			height: 66px;
			padding: 7px 12px 7px 7px;
			display: inline-block;
		}
		footer .footer-site.mobile .nav-mobile ul li span img {
			max-width: 94px;
			max-height: 66px;
		}

		footer .footer-site.mobile i {
			width: 30px;
			height: 30px;
			margin-right: 15px;
			display: inline-table;
			vertical-align: middle;
			background: no-repeat center center;
		}
		footer .footer-site.mobile i.icon_beer {
			background-image: url(../images/icons/icon_beer.png);
		}
		footer .footer-site.mobile i.icon_beverage {
			background-image: url(../images/icons/icon_beverage.png);
		}
		footer .footer-site.mobile i.icon_snack {
			background-image: url(../images/icons/icon_snack.png);
		}
		footer .footer-site.mobile i.icon_food {
			background-image: url(../images/icons/icon_food.png);
		}
		footer .footer-site.mobile i.icon_plus {
			top: 25px;
			right: 30px;
			background-image: url(../images/icons/plus.png);	
		}
		
		footer .footer-site.mobile .address {
			width: 100%;
			display: block;
			margin: auto;
			background-color: #0267ba;
		}
		footer .footer-site.mobile .address a,
		footer .footer-site.mobile .address a i {
			float: none;
		}
		footer .footer-site.mobile .address,
		footer .footer-site.mobile .address p {
			font-size: 22px;
			line-height: 22px;
			text-align: center;
		}
		footer .footer-site.mobile .address a {
			display: inline-block;
		}
		footer .footer-site.mobile .logo {
			height: auto;
			margin-top: 30px;
		}
		footer .footer-site.mobile .address i {
			width: 100px;
			height: 80px;
			margin: 20px 10px 30px 10px;
			display: inline-block;
			position: relative;
			background: no-repeat center center;
			z-index: 100;
		}
		footer .footer-site.mobile .address i.icon_call {
			background-image: url(../images/icons/icon_call.png);
		}
		footer .footer-site.mobile .address i.icon_directions {
			background-image: url(../images/icons/icon_directions.png);
		}

		
		/* footer .footer-copyright */
		footer .footer-copyright .container {
			padding: 0;
		}
		footer .footer-copyright .col-other {
			background-color: #248ce3;
			text-align: center;
		}
		footer .footer-copyright .col-other ul > li {
			float: none;
		}
		footer .footer-copyright .col-copyright p {
			text-align: center;
			background-color: #0066b9;
		}


	/*----------------------------------------
		ICONS
	----------------------------------------*/
		i.fa {
			width: 26px;
			height: 26px;
			background-size: auto 26px;
		}
		i.fa.fa-facebook {
			background-image: url(../images/icons/fa_facebook_mobile.png);
		}
		i.fa.fa-instagram {
			background-image: url(../images/icons/fa_instagram_mobile.png);
		}
		i.fa.fa-youtube {
			background-image: url(../images/icons/fa_youtube_mobile.png);
		}

	
	/*----------------------------------------
		MAINCONTENT
	----------------------------------------*/
		.mainContent .container {
			padding-bottom: 120px;
		}


	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.home .social .hashtag span {
			display: none;	
		}
		.home .mainContent .container {
			padding-left: 40px;
			padding-right: 40px;
		}
		.home .mainContent .product-purra .container {
			height: 800px;
		}
		.home .product-purra p {
			text-align: center;	
		}

	
	/*----------------------------------------
		02 LIFESTYLE
	----------------------------------------*/
		.lifestyle .mainContent .content {
			padding-left: 20px;
			padding-right: 20px;	
		}
	
	
	/*----------------------------------------
		03 PROMOTIONS & ACTIVITIES
	----------------------------------------*/
		.promotion .mainContent .content {
			padding-left: 20px;
			padding-right: 20px;	
		}
	

	/*----------------------------------------
		ARTICLE
	----------------------------------------*/

	
	/*----------------------------------------
		ARTICLE > SIDEBAR
	----------------------------------------*/
		.sidebar {
			max-width: 800px;
			margin: 25px auto 0;	
		}
		.sidebar .tab-content > .tab-pane {
			min-height: 330px;
		}
		.sidebar .related-content ul > li p {
			padding: 8px 0;
		}
	
	
	/*----------------------------------------
		04 PRODUCT
	----------------------------------------*/
		.product {
		}
		
	
	/*----------------------------------------
		05 CONTACT US
	----------------------------------------*/
		#map-container {
			margin-bottom: 25px;
		}

}

@media (min-width: 960px) and (max-width: 1023px) {

	/*----------------------------------------
		MAINCONTENT
	----------------------------------------*/
		.container {
			width: 940px;
		}


	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.home {
			background-size: auto 510px;
			background-position: 50% 10px;
		}
		.home .banner {
			height: 430px;
		}
		.home .social {
			min-height: 700px;	
		}
		.home .social .feed-facebook {
			min-height: 280px;
		}
		.fb-page iframe {
			height: 280px !important;
		}
		
		.home .news-activities .heading img {
			height: 45px;
		}
		.home .news-activities .heading .view-all {
			padding-top: 8px;	
		}


	/*----------------------------------------
		05 CONTACT US
	----------------------------------------*/
		.contact .mainContent .container {
			width: 840px;
		}
	
}

@media (min-width: 960px) {

	/*----------------------------------------
		Typography
	----------------------------------------*/
		h1 {
			margin-top: 10px;	
		}	
	
	
	/*----------------------------------------
		LIST ITEMS
	----------------------------------------*/
		.list-items > li:first-child,
		.list-items > li:nth-child(2) {
			width: 50%;
			margin-bottom: 15px;
		}
		.list-items > li:first-child .thumbnail p,
		.list-items > li:nth-child(2) .thumbnail p {
		}
		.list-items > li:first-child .thumbnail a.read-more .glyphicon,
		.list-items > li:nth-child(2) .thumbnail a.read-more .glyphicon {
			color: #006699;
		}
	

	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.home .list-items > li:first-child {
			width: 100%;
		}
		.home .list-items > li:nth-child(2) .thumbnail p {
			font-size: 22px;
			line-height: 22px;
			height: 60px;
		}
		.home .news-activities .owl-carousel .owl-item {
			width: 50% !important;
			margin-right: 0 !important;
			padding-left: 10px;
			padding-right: 10px;
		}
		.home .news-activities .owl-carousel .owl-item:first-child {
			width: 100% !important;
		}
		.home .news-activities .owl-carousel .owl-item:first-child p {
		}
	

	/*----------------------------------------
		04 PRODUCT
	----------------------------------------*/
		.product .product-purra .img-product-purra {
			top: -70px;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
		}
		.product .product-purra ul.pull-left > li:nth-child(2) {
			padding-right: 30px;
		}
		.product .product-purra ul.pull-left > li:nth-child(3) {
			padding-right: 20px;
		}
		.product .product-purra .pull-left img.img-circle {
			float: right;
			margin-left: 10px;
		}
		.product .product-purra .pull-left p {
			text-align: right;
		}
		.product .product-purra ul.pull-right > li:first-child {
			padding-left: 20px;
		}
		.product .product-purra ul.pull-right > li:nth-child(2) {
			padding-left: 30px;
		}
		.product .product-purra .pull-right img.img-circle {
			float: left;
			margin-right: 10px;
		}
		.product .product-purra .pull-right p {
			text-align: left;
		}
	
}

@media (max-width: 959px) {
	
	/*----------------------------------------
		MAINCONTENT
	----------------------------------------*/
		.container {
			width: 640px;
		}
		.share {
			width: 60px;
		}
		
		.half {
			float: left;
			width: 100%;
		}
		.half:last-child {
			float: left;
			width: 100%;
			margin-bottom: 30px;
		}
		.lifestyle .breadcrumb, 
		.promotion .breadcrumb {
			margin-bottom: 0;
		}
		.categories label {
			margin-right: 12px;
		}
		.categories .form-group {
			width: 490px;
		}
	

	/*----------------------------------------
		LIST ITEMS
	----------------------------------------*/
		.list-items > li {
			width: 50%;
		}
		.list-items > li:first-child {
			width: 100%;
			margin-bottom: 15px;
		}
		.list-items > li:first-child .thumbnail p {
			font-size: 26px;
			line-height: 24px;
			height: auto;
		}

		
	/*----------------------------------------
		01 HOME
	----------------------------------------*/
		.home {
			background-size: auto 340px;
			background-position: 50% 50px;
		}
		.home .banner {
			height: 360px;
		}
		.home .social .social-gallery {
			padding-bottom: 70px;
		}	
		.home .social .heading-facebook {
			display: block;
		}
		.home .social .feed-facebook {
			margin-top: 10px;	
		}


		.home .mainContent .news-activities .container {
			width: 100%;
			padding-right: 0;
		}
		.home .mainContent .news-activities .container .row {
			margin-right: 0;
			margin-left: 0;
		}
		.home .view-all {
			display: none;
		}
		.home .news-activities .heading .view-all {
			display: block;
		}
		.home .news-activities .heading .view-all a {
			margin-right: 40px;	
		}
		
		
		.home .mainContent .product-purra .container {
			height: 820px;
		}
		.home .product-purra p br,
		.home .product-purra p br.desktop {
			display: none;
		}
		.home .product-purra p br.mobile {
			display: block;	
		}
		.home .product-purra .img {
			float: none;
			display: inline-block;
			width: auto;	
		}
	
	
	/*----------------------------------------
		02 LIFESTYLE
	----------------------------------------*/
		.lifestyle {
			background-size: 1400px;
			background-position: 50% 30px;
		}
		.lifestyle .mainContent .container {
			padding-top: 180px;	
		}
		.lifestyle .mainContent .content {
			padding-left: 50px;
			padding-right: 50px;	
		}
		
	
	/*----------------------------------------
		03 PROMOTIONS & ACTIVITIES
	----------------------------------------*/
		.promotion {
			background-size: 1400px;
			background-position: 50% 30px;
		}
		.promotion .mainContent .container {
			padding-top: 180px;	
		}
		.promotion .mainContent .content {
			padding-left: 50px;
			padding-right: 50px;	
		}
	
	
	/*----------------------------------------
		ARTICLE
	----------------------------------------*/
		.article .mainContent .container {
			padding-left: 30px;
			padding-right: 30px;	
		}
		.sidebar {
			max-width: 500px;
		}

		#carousel-example-generic {
			padding-left: 0;
			padding-right: 0;
		}	
	
	
	/*----------------------------------------
		04 PRODUCT
	----------------------------------------*/
		.product {
			background: #fff url(../images/product/bg_mobile.jpg) no-repeat top center;
		}
		.product .mainContent .container {
			padding-left: 35px;
			padding-right: 35px;	
		}
		.product h1 br,
		.product .all-pack span br {
			display: inline-block;
		}
		.product .product-purra {
			padding-left: 210px;
			height: 820px;
		}
		.product .product-purra ul {
			width: 100%;
		}
		.product .product-purra ul > li {
			margin: 3px 0;
		}
		.product .purra span {
			margin-left: -35px;
		}
		.product .purra img {
			margin-bottom: 0;	
		}
		.product .all-pack {
			margin-top: 50px;	
		}
		.product .all-pack span {
			top: -50px;
		}
		.product .store {
			margin-top: 30px;	
		}
		.product .store span {
			max-width: 400px;
		}
	
	
	/*----------------------------------------
		05 CONTACT US
	----------------------------------------*/
		.contact .mainContent .container {
			width: 540px;
		}
		.contact .mainContent .address {
			padding-right: 0;
		}
		

	/*----------------------------------------
		07 SEARCH RESULTS
	----------------------------------------*/
		.list-items-results > li .thumbnail {
			width: 30%;
		}
		.list-items-results > li .caption {
			width: 70%;
		}
	
}
